/*=== IMPORTS ==*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;1,100;1,500&display=swap');


/*=== GLOBAL ===*/


/* === VARIABLES  === */
:root {
	--header-height-small: 3rem;
	--header-height-bigger: 3.5rem;
	/*==== Font Weights ===*/
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	/*==== Colores ===*/
	--dark-color: #141414;
	--dark-color-lighten: #F3F1F5;
	--white-color: #FFF;
	--purple-color-light: #C6B4CE;
	--purple-color: #9B72AA;

	/*==== Fonts and typography ===*/
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 1.25rem;
	--bigger-font-size: 1.5rem;
	--biggest-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: .938rem;
	--smaller-font-size: .813rem;

	/*==== Margenes ===*/
	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
	/*==== z-Index  ====*/
	--z-fixed: 100;
	/*==== Rotate img ===*/
	--rotate-img: rotate(-350deg);

}

@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 1.5rem;
		--bigger-font-size: 2rem;
		--biggest-font-size: 3rem;
		--normal-font-size: 1rem;
		--smaller-font-size: .875rem;
	}
}

/* === BASE  === */
*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	scroll-behavior: smooth;
	margin: 0 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	color: var(--dark-color);
	line-height: 1.6;
	background-color: var(--dark-color);
	min-height: 100vh;

}



body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h4,
h3,
p,
ul {
	margin: 0;
	color: var(--white-color);
}

ul {
	padding: 0;
	list-style: none;
}

a {
	color: var(--white-color);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* == CLASS CSS  === */

.section {
	padding: 5rem 0rem;

	.section-title {
		position: relative;
		font-size: var(--big-font-size);
		margin-bottom: var(--mb-4);
		text-align: center;
		letter-spacing: .1rem;
		color: var(--dark-color);
	}

	.section-title::after {
		content: '';
		position: absolute;
		width: 56px;
		height: .18rem;
		top: -1rem;
		left: 0;
		right: 0;
		margin: auto;
		background-color: var(--dark-color);
	}
}

/*==== LAYOUT  ===*/
.bd-grid {
	display: grid;
	width: 70%;
}


@media screen and (min-width: 1024px) {
	body {
		margin: 0;
		padding: 0;
	}

	.bd-grid {
		margin-left: auto;
		margin-right: auto;

	}
}